<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }
        h1 {
            color: #FF0000;
        }
    </style>
</head>
<body>
    <h1>404 Not Found</h1>
    <p>La page que vous recherchez n'a pas été trouvée.</p>
    <a href="http://localhost:8070/"><button>Redirection</button></a>
</body>
</html>
